body {

    background: url(maroon-scratch-lines.png);
    background-size: auto;
    
}

.login {

    width: 50%;
    height: 50%;
    position: relative;
    margin:  10em auto;
    background-color: #EEEEEE;
    align-items: center;
    justify-items: center;

}

.login-form {

    position: relative;
    text-align: center;
    background-color: #EEEEEE;
    padding: 80px;
    display: block;

}

.login-form-fields {

    margin-bottom: 52px;
    margin-top: 64px;
}