body {

    background: url(maroon-scratch-lines.png);
    background-size: auto;
    
}

.questionnaire {

    width: 70%;
    height: 70%;
    position: relative;
    margin:  10em auto;
    background-color: #EEEEEE;
    align-items: center;
    justify-items: center;

}

.grid-fields-checkboxes {

    display: grid;
    gap: 1em 1.5em;
    grid-template-columns: repeat(2, 1fr);

}

#age_input {

    border-bottom: 1px  solid #A60000;
 
 }